/* CSS variables */
:root {
  /* Primary colors */
  --primary-color: rgb(0, 3, 18);
  --secondary-color: rgb(255, 255, 255);
  --accent-color: rgb(79, 90, 240);
  --gray-medium: #99999980;
  --gray: #b7b7b7;

  /* Neutral colors */
  --background-color: var(--primary-color);
  --text-color: rgb(183, 183, 183);

  /* Additional colors */
  --link-color: var(--text-color);

  /* Typography */
  /* Font sizes/weight */
  --font-size-regular: 20px;
  --font-size-xx-small: 12px;
  --font-size-x-small: 14px;
  --font-size-small: 16px;
  --font-weight-regular: 400;

  --font-size-h1: 62px;
  --font-size-h2: 48px;
  --font-size-h4: 26px;
  --font-weight-large: 500;

  /* Font family */
  --font-family-primary: "Helvetica Neue", sans-serif;
  --font-family-secondary: "Archivo Black", sans-serif;

  /* Padding */
  --padding-2: 2px;
  --padding-4: 4px;
  --padding-6: 6px;
  --padding-8: 8px;
  --padding-10: 10px;
  --padding-12: 12px;
  --padding-14: 14px;
  --padding-16: 16px;
  --padding-18: 18px;
  --padding-20: 20px;

  /* Margin */
  --margin-2: 2px;
  --margin-4: 4px;
  --margin-6: 6px;
  --margin-8: 8px;
  --margin-10: 10px;
  --margin-12: 12px;
  --margin-14: 14px;
  --margin-16: 16px;
  --margin-18: 18px;
  --margin-20: 20px;

  /* Border-radius */
  --border-radius-card: 50px;
  --border-radius-button: 10px;
}

/* Basic CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  line-height: 24px;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
}

h1, h2, h4 {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-large);
  color: var(--secondary-color);
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size-h1);
  letter-spacing: -5px;
}

h2 {
  font-size: var(--font-size-h2);
  letter-spacing: -4px;
}

h4 {
  font-size: var(--font-size-h4);
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

button, input, textarea {
  border: none;
  background: none;
  font-family: sans-serif;
  font-size: inherit;
  outline: none;
}

/* Optional: Set a default background color */

html {
  background-color: var(--background-color);
}
/* ==================================================== */
/* Section by section design */

/* Generic css rules */
.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.small-people-icon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.input-button-base, .form-control-shared {
  background-color: var(--primary-color);
  padding: var(--padding-14) var(--padding-18);
  border-radius: var(--border-radius-button);
  gap: var(--padding-8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
header {
  height: 80px;
  padding: var(--padding-20);
}

/* Hero */
  /* launch date */
.countdown-timer {
  color: white;
}

    /* countdown day  */
.countdown-timer p:first-of-type {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-x-small);
  font-weight: var(--font-weight-large);
}

.countdown-timer p:last-of-type {
  color: var(--gray-medium);
  font-size: var(--font-size-xx-small);
  line-height: var(--font-size-x-small);
  margin-bottom: var(--margin-18);
}

.countdown-timer p:first-of-type > span:first-of-type,
.countdown-timer p:first-of-type > span:nth-of-type(odd) {
  color: var(--gray);
}

.countdown-timer p:first-of-type > span:nth-of-type(even) {
  color: var(--gray-medium);
}

    /* hero main text, subtitle  */
.hero {
  gap: var(--padding-20);
  height: 60vh;
  text-align: center;
}

h1 span:first-of-type,
.hero-subtitle span:first-of-type {
  display: block;
}

  /* join stats */
.join-stats-wrapper {
  gap: var(--padding-4);
  margin: var(--margin-18) 0;
}

.join-stats-wrapper p {
  font-size: var(--font-size-x-small);
}
  /* cta */
.cta-wrapper {
  font-size: var(--font-size-xx-small);
  gap: var(--padding-10);
}

.cta-wrapper a {
  background-color: var(--secondary-color);
}

.cta-wrapper a:first-of-type {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.cta-wrapper a:last-of-type {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Model Photo */
.photo img {
  max-width: 100%;
  height: auto;
  width: 900px;
}

/* Features */
.features-main-title span span {
  color: var(--accent-color);
}

.features-main-title > span {
  display: block;
}

.features-description {
  text-align: center;
  width: 60%;
}

  /* Bento/Feature tiles */
.features-main-title {
  margin-bottom: calc(var(--margin-20)*2);
}

.bento {
  margin-top: calc(var(--margin-20)*3);
  padding: calc(var(--padding-20)*3) var(--padding-20);
}

.bento-tiles {
  padding: calc(var(--padding-20)*3) 0;
}

.bento-tiles > div {
  width: 90%;
}

.bento-tile {
  height: 400px;
  background-color: #191919;
  border-radius: var(--border-radius-card);
  flex: 1;
  padding: 32px 23px;
  display: flex;
  flex-direction: column;
}

.bento-tile p {
  font-size: var(--font-size-x-small);
}

.bento-tiles,
.first-row-bento-tiles,
.second-row-bento-tiles {
  gap: var(--padding-20);
}

.first-row-bento-tiles > .bento-tile > .bento-image-wrapper > img,
.second-row-bento-tiles > .bento-tile > .bento-image-wrapper > img {
  height: 150px;
  object-fit: contain;
}

.bento-image-wrapper {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-row-bento-tiles > .bento-tile > .bento-image-wrapper > img {
  height: 350px;
}

.bento-image-wrapper.season-based-leagues-image > img {
  height: 250px !important;
}

  /* Newsletter */
    /* Titles and icon */
.newsletter {
  background: var(--accent-color);
  height: 100vh;
  color: var(--secondary-color);
  text-align: center;
}

.newsletter-titles {
  padding: 45px 25px 45px;
  gap: var(--margin-20);
  margin-bottom: 30px;
}

.newsletter-main-title span,
.newsletter-subtitle span {
  display: block;
}

.newsletter-main-title {
  margin-bottom: var(--margin-12);
}

.newsletter-main-title span:first-of-type {
  margin-bottom: var(--margin-10);
}

.newsletter-subtitle {
  font-size: var(--font-size-x-small);
  line-height: 16.8px;
}

.newsletter-icons-wrapper img {
  border: 2px solid var(--secondary-color);
}
    /* Form */
.newsletter-form {
  width: 50%;
}

.newsletter-form > * {
  width: 100%;
  margin-bottom: var(--margin-20);
}

    /* Form elements */
.newsletter-form input[type="email"],
.newsletter-form button {
  font-size: var(--font-size-xx-small);
}

.newsletter-form input[type="email"] {
  background-color: var(--secondary-color);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
}

.newsletter-form button {
  color: var(--secondary-color);
}
