@import 'styles.css';
@import 'variables.css';
@import 'reset.css';

/* Section by section design */

/* Generic css rules */
.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.small-people-icon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.input-button-base, .form-control-shared {
  padding: var(--padding-14) var(--padding-18);
  border-radius: var(--border-radius-button);
  gap: var(--padding-8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
header {
  height: 80px;
  padding: var(--padding-20);
}

/* Hero */
  /* launch date */
.countdown-timer {
  color: white;
}

    /* countdown day  */
.countdown-timer p:first-of-type {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-x-small);
  font-weight: var(--font-weight-large);
}

.countdown-timer p:last-of-type {
  color: var(--gray-medium);
  font-size: var(--font-size-xx-small);
  line-height: var(--font-size-x-small);
  margin-bottom: var(--margin-18);
}

.countdown-timer p:first-of-type > span:first-of-type,
.countdown-timer p:first-of-type > span:nth-of-type(odd) {
  color: var(--gray);
}

.countdown-timer p:first-of-type > span:nth-of-type(even) {
  color: var(--gray-medium);
}

    /* hero main text, subtitle  */
.hero {
  gap: var(--padding-20);
  height: 60vh;
  text-align: center;
}

h1 span:first-of-type,
.hero-subtitle span:first-of-type {
  display: block;
}

  /* join stats */
.join-stats-wrapper {
  gap: var(--padding-4);
  margin: var(--margin-18) 0;
}

.join-stats-wrapper p {
  font-size: var(--font-size-x-small);
}
  /* cta */
.cta-wrapper {
  font-size: var(--font-size-xx-small);
  gap: var(--padding-10);
}

.cta-wrapper a {
  background-color: var(--secondary-color);
}

.cta-wrapper a:first-of-type {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.cta-wrapper a:last-of-type {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Model Photo */
.photo img {
  max-width: 100%;
  height: auto;
  width: 900px;
}

/* Features */
.features-main-title span span {
  color: var(--accent-color);
}

.features-main-title > span {
  display: block;
}

.features-description {
  text-align: center;
  width: 60%;
}

.features-main-title {
  margin-bottom: calc(var(--margin-20)*2);
}

  /* Bento/Feature tiles */
.bento {
  margin-top: calc(var(--margin-20)*3);
  padding: calc(var(--padding-20)*3) var(--padding-20);
}

.bento-tiles {
  padding: calc(var(--padding-20)*3) 0;
}

.bento-tiles > div {
  width: 90%;
}

.bento-tile {
  height: 400px;
  background-color: #191919;
  border-radius: var(--border-radius-card);
  flex: 1;
  padding: 32px 23px;
  display: flex;
  flex-direction: column;
}

.bento-tile h4 {
  margin-bottom: var(--margin-14);
  font-size: 19px;
}

.bento-tile p {
  font-size: var(--font-size-x-small);
  line-height: var(--line-height-small-texts);
}

.bento-tiles,
.first-row-bento-tiles,
.second-row-bento-tiles {
  gap: var(--padding-20);
}

.first-row-bento-tiles > .bento-tile > .bento-image-wrapper > img,
.second-row-bento-tiles > .bento-tile > .bento-image-wrapper > img {
  height: 150px;
  object-fit: contain;
}

.bento-image-wrapper {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-row-bento-tiles > .bento-tile > .bento-image-wrapper > img {
  height: 350px;
}

.bento-image-wrapper.season-based-leagues-image > img {
  height: 250px !important;
}

  /* Newsletter */
    /* Titles and icon */
.newsletter {
  background: var(--accent-color);
  height: 100vh;
  color: var(--secondary-color);
  text-align: center;
}

.newsletter-titles {
  padding: 45px 25px 45px;
  gap: var(--margin-20);
  margin-bottom: 30px;
}

.newsletter-main-title span,
.newsletter-subtitle span {
  display: block;
}

.newsletter-main-title {
  margin-bottom: var(--margin-12);
}

.newsletter-main-title span:first-of-type {
  margin-bottom: var(--margin-10);
}

.newsletter-subtitle {
  font-size: var(--font-size-x-small);
  line-height: 16.8px;
}

.newsletter-icons-wrapper img {
  border: 2px solid var(--secondary-color);
  margin-left: -8px;
}
    /* Form */
.newsletter-form {
  width: 50%;
}

.newsletter-form > * {
  width: 100%;
  margin-bottom: var(--margin-20);
}

    /* Form elements */
.newsletter-form input[type="email"],
.newsletter-form button {
  font-size: var(--font-size-xx-small);
}

.newsletter-form input[type="email"] {
  background-color: var(--secondary-color);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
}

.newsletter-form button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.newsletter-form button:hover {
  cursor: pointer;
}

/* Features Expanded */
.features-expanded {
  padding: 60px 0;
}
  /* Texts */
.features-expanded-main-texts-wrapper {
  text-align: center;
  padding: 50px;
}

.features-expanded-main-texts-wrapper h2 {
  margin-bottom: calc(var(--margin-20)*2);
}

.features-expanded-main-texts-wrapper > h2 span {
  color: var(--accent-color);
}

.features-expanded-main-texts-wrapper > p span {
  display: block;
}
  /* Expanded Feature tiles */
.feature-tiles-wrapper {
  padding: 60px 200px;
  justify-content: flex-start;
  gap: 200px;
}

.expanded-feature-tile {
  font-size: var(--font-size-x-small);
}

.expanded-feature-tile > h4 {
  margin-bottom: 16px;
}

.expanded-feature-tile > p {
  line-height: var(--line-height-small-texts);
}
.expanded-feature-tile > h4 {
  margin-bottom: 16px;
}
  /* Image */
.expanded-feature-photo {
  height: 477px;
}

/* Features - Desktop */
.desktop {
  background-color: var(--accent-color);
  height: 100vh;
  padding: 60px 0;
  color: var(--secondary-color);
}

.desktop p {
  font-size: var(--font-size-x-small);
  line-height: var(--line-height-small-texts);
}

  /* desktop text */
.desktop-text-wrapper {
  text-align: center;
  margin-bottom: 100px;
}

.desktop-text-wrapper > h2 span {
  display: block;
}

  /* desktop tiles */
.desktop-tiles-wrapper {
  padding: 60px 100px;
  gap: 30px;
}

.desktop-tile {
  border-radius: var(--border-radius-card);
  background-color: var(--accent-color-secondary);
  padding: 32px 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.desktop-tile > img {
  height: 160px;
}

/* FAQs */
.faqs {
  padding: 100px;
  font-size: var(--font-size-x-small);
}

  /* Title text, Discord */
.faqs {
  gap: 80px;
  padding: 100px;
}

.faq-title > h2 span,
.discord > h4 span {
  display: block;
}

.faq-title,
.discord {
  background: var(--accent-color);
  width: fit-content;
  padding: 20px 70px;
  text-align: center;
}

/* Question tiles */
.question-tiles-wrapper {
  gap: 40px;
}

.question-tile {
  border-radius: 30px;
  background-color: var(--gray-dark);
  padding: 32px 24px;
}

.question-tile h4 {
  color: var(--gray-medium-light);
  margin-bottom: 18px;
}

.question-tile p {
  line-height: var(--line-height-small-texts);
}

.discord a {
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}

footer {
  background-color: var(--gray-dark);
  text-align: center;
  padding: 50px 0;
}

footer > :first-child {
  color: var(--gray-medium-light);
}

footer > :first-child,
footer > :nth-child(2) {
  margin-bottom: 40px;
}

footer > h4 span {
  display: block;
}

footer > :last-child {
  color: #393939;
  text-decoration: underline;
  letter-spacing: -0.16px;
  font-size: var(--font-size-small);
}

/* Media Queries */
/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .cta-wrapper,
  .first-row-bento-tiles,
  .second-row-bento-tiles,
  .feature-tiles-wrapper,
  .desktop-tiles-wrapper
   {
    flex-direction: column;
  }

  .feature-tiles-wrapper {
    gap: 50px;
  }

  .desktop {
    height: fit-content;
  }
}

/* Mobile (M) */
@media (min-width: 481px) and (max-width: 767px) {
  .cta-wrapper,
  .first-row-bento-tiles,
  .second-row-bento-tiles,
  .feature-tiles-wrapper,
  .desktop-tiles-wrapper
   {
    flex-direction: column;
  }

  .feature-tiles-wrapper {
    gap: 50px;
  }

  .desktop {
    height: fit-content;
  }
}

/* Mobile (S) */
@media (max-width: 480px) {
  .cta-wrapper,
  .first-row-bento-tiles,
  .second-row-bento-tiles,
  .feature-tiles-wrapper,
  .desktop-tiles-wrapper
   {
    flex-direction: column;
  }

  .feature-tiles-wrapper {
    gap: 50px;
  }

  .desktop {
    height: fit-content;
  }
}
